[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = "*"
click = "*"
ecdsa = "*"
flask = "*"
flask-sqlalchemy = "*"
future = "*"
isort = "*"
itsdangerous = "*"
jinja2 = "*"
lazy-object-proxy = "*"
markupsafe = "*"
mccabe = "*"
pycryptodome = "*"
pylint = "*"
six = "*"
typed-ast = "*"
werkzeug = "*"
wrapt = "*"
flask-cors = "*"
python-jose = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
