astroid == "*"
click == "*"
ecdsa == "*"
flask == "*"
flask-sqlalchemy == "*"
future == "*"
isort == "*"
itsdangerous == "*"
jinja2 == "*"
lazy-object-proxy == "*"
markupsafe == "*"
mccabe == "*"
pycryptodome == "*"
pylint == "*"
six == "*"
typed-ast == "*"
werkzeug == "*"
wrapt == "*"
flask-cors == "*"
python-jose == "*"
